/* =============
    Base
============= */

ul{
    padding: 0;

    li{
        list-style: none;
    }
}

.content-margins{
    margin-top: 15px;

    @include md{
        margin-top: 40px;
    }

    @include lg{
        margin-top: 30px;
    }

    @include xl{
        margin-top: 40px;
    }
}

.s2-rule{
    margin: 4px 0px;

    @include md{
        margin: 10px 0px;
    }

    @include lg{
        margin: 15px 0px;
    }
}

.s4-rule{
    margin: 20px 0px;

    @include lg{
        margin: 25px 0px;
    }
}