/* =============
    Base
============= */

ul{
    padding: 0;

    li{
        list-style: none;
    }
}

.content-margins{
    margin-top: 15px;

    @include md{
        margin-top: 40px;
    }

    @include lg{
        margin-top: 30px;
    }

    @include xl{
        margin-top: 40px;
    }
}