/* =============
    Section 6
============= */
#s6 {
    display: grid;
    grid-template-areas: ". section-6 .";
    grid-template-columns: 20px auto 20px;

    @include lg {
        grid-template-columns: auto 900px auto;
    }

    #s6_content {
        color: $l-purple;
        grid-area: section-6;

        @include lg {
            display: grid;
            grid-template-areas: "s6-image s6-text";
            grid-template-columns: 40% auto;
        }

        #s6-hero {
            grid-area: s6-image;

            >div {
                background-image: url("../img/section-6/IMG_0301.JPG");
                background-position: center;
                background-size: cover;
                border-radius: 100%;
                height: 144px;
                margin: 16px auto 30px;
                width: 144px;

                @include md {
                    height: 268px;
                    margin: 15px auto 100px;
                    width: 268px;
                }

                @include lg {
                    height: 318px;
                    width: 318px;
                }
            }
        }

        #s6-text {
            grid-area: s6-text;
        }

        p {
            font-size: rem-calc(16);
            font-weight: 400;

            @include md {
                font-size: rem-calc(20);
            }

            @include lg {
                font-size: rem-calc(21);
            }
        }
    }
}