/* =============
    Section 1
============= */
#s1 {
    background-image: url("../img/section-1/hero.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 30vh;

    @include md {
        height: 50vh;
    }

    @include lg {
        height: 60vh;
    }

    @include xl {
        background-position: 0px -60px;
        height: 60vh;
    }
}