/* =============
    Section 4
============= */

#s4{

    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-template-areas: ". section-4 .";

    ul{
        grid-area: section-4;
        display: grid;
        gap: 20px;

        li{
            img{
                width: 100%;
            }
        }
    }
}