/* =============
    Section 2
============= */
#s2 {

    @include md {
        display: grid;
        grid-template-areas: ". s2-content .";
        grid-template-columns: 10px auto 10px;
    }

    @include lg {
        display: grid;
        grid-template-areas: ". s2-content .";
        grid-template-columns: 0px auto 0px;
    }

    @include xl {
        display: grid;
        grid-template-areas: ". s2-content .";
        grid-template-columns: auto 1200px auto;
    }

    #s2-content {
        grid-area: s2-content;

        @include md {
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: "s2-image s2-container";
        }

        @include lg {
            display: grid;
            grid-template-columns: 45% auto;
        }

        
        aside {
            grid-area: s2-image;
            background-image: url("../img/section-2/believe-left.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 30vh;

            @include md {
                background-position: -260px 0px;
                height: 50vh;
            }

            @include lg {
                background-position: -420px 0px;
                height: 60vh;
            }
        }
        

        #s2-container {
            grid-area: s2-container;
            display: grid;
            grid-template-areas: ". s2-text .";
            grid-template-columns: 20px auto 20px;

            #s2-text {
                grid-area: s2-text;

                h3{
                    color: $purple;
                    font-weight: 700;
                    font-size: rem-calc(24);
                    text-align: center;

                    @include md{
                        font-size: rem-calc(32);
                        text-align: left;
                    }

                    @include lg{
                        font-size: rem-calc(36);
                    }
                }

                p{
                    color: $l-purple;
                    margin-top: 10px;
                    font-weight: 500;
                    font-size: rem-calc(18);
                    font-style: italic;
                    text-align: center;

                    @include md{
                        font-size: rem-calc(20);
                        text-align: left;
                    }
                    @include lg{
                        font-size: rem-calc(24);
                        margin-top: 12px;
                    }
                }
            }
        }
    }
}