/* =============
    Section 4
============= */

#s4{
    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-template-areas: ". section-4 .";

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    ul{
        grid-area: section-4;
        display: grid;
        gap: 20px;

        @include md{
            grid-template-columns: repeat(3, 1fr);

            grid-template-areas: 
            "g2 g1 g1"
            "g3 g1 g1";
        }

        @include lg{
            grid-template-areas: 
            "g1 g1 g2"
            "g1 g1 g3";
        }

        li{
            img{
                width: 100%;
            }
        }

        #g1{
            grid-area: g1;
        }

        #g2{
            grid-area: g2;
        }

        #g3{
            grid-area: g3;
        }
    }
}