/* =============
    Section 4
============= */
#s4 {
    display: grid;
    grid-template-areas: ". section-4 .";
    grid-template-columns: 20px auto 20px;

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    #s4-content {
        grid-area: section-4;
        color: $purple;

        #s4-text{
            text-align: center;

            h2{
                font-weight: 800;
                font-size: rem-calc(24);

                @include md{
                    font-size: rem-calc(60);
                }
            }
        }
    }
}