/* =============
    Footer
============= */

#footer{

    background-color: $l-blue;
    text-align: center;
    padding: 10px;

    ul{
        display: flex;
        justify-content: center;
        align-content: center;

        li{
            margin: 0px 15px;

            a:link, a:visited{
                font-size: rem-calc(26);
                color: $l-purple;
                transition: 0.25s;
                
                @include md{
                    font-size: rem-calc(61);
                }

                @include lg{
                    font-size: rem-calc(70);
                }
            }

            a:hover, a:active{
                color: $purple;
            }
        }
    }
}