/* =============
    Footer
============= */
#footer {
    background-color: $l-blue;
    padding: 10px;
    text-align: center;

    ul {
        align-content: center;
        display: flex;
        justify-content: center;

        li {
            margin: 0px 15px;

            a:link,
            a:visited {
                color: $l-purple;
                font-size: rem-calc(26);
                transition: 0.25s;

                @include md {
                    font-size: rem-calc(61);
                }

                @include lg {
                    font-size: rem-calc(70);
                }
            }

            a:hover,
            a:active {
                color: $purple;
            }
        }
    }
}