/* =============
    Footer
============= */

#footer{

    background-color: $l-blue;
    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-template-areas: ". footer .";

    ul{
        grid-area: footer;
        display: flex;
        justify-content: center;
        align-content: center;

        li{
            margin: 0px 15px;
            font-size: rem-calc(36);

            @include md{
                margin: 0px 20px;
                font-size: rem-calc(61);
            }

            @include lg{
                margin: 0px 35px;
                font-size: rem-calc(70);
            }
        }
    }
}